adium-theme-ubuntu==0.3.4
djangorestframework==3.9.4
ecdsa==0.13
enum34==1.1.6
gyp==0.1
llvmlite==0.16.0
mysql-connector-python==2.0.4
mysql-utilities==1.6.1
paramiko==1.16.0
pexpect==4.0.1
ptyprocess==0.5
pycrypto==2.6.1
pyodbc==3.0.7
pysqlite==2.7.0
six==1.10.0
unity-lens-photos==1.0
virtualenv==16.7.5
