.fp-main-container {
  text-align: center;
}
form {
  max-width: 400px;
}
.mauto {
  margin: auto;
}
.card {
	color: black !important;
	max-width: 600px !important;
	margin: 1rem auto !important;
}
.card-title {
	font-size: 1.5rem;
}
.card-body {
	font-size: 0.9rem;
}
.header {
	background: #e6e6e6;
}
.header > div > img {
	width: 15rem;
}
.full-width {
	width: 100%;
}
.pointer {
	cursor: pointer;
}