.fp-main-container {
  margin-top: 20% !important;
  text-align: center;
}

form {
  max-width: 400px;
}

.mauto {
  margin: auto;
}
.card {
	color: black !important;
	max-width: 600px !important;
	margin: 1rem auto !important;
}
.card-title {
	font-size: 1.5rem;
}
.card-body {
	font-size: 0.9rem;
}